

.grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);

    border: 1px solid black;
    width: fit-content;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}